<h1>ログイン</h1>

<%= form_for(:session, url: sessions_login_path) do |f| %>

    <div class="field">
      <%= f.text_field :email, placeholder: 'Eメール' %>
    </div>

    <div class="field">
      <%= f.password_field :password, placeholder: 'パスワード' %>
    </div>

    <div class="actions">
      <%= f.submit 'ログイン' %>
    </div>
<% end %>