<li id="stock-<%= stock.id %>">
  <span class="name">企業名 : <%= link_to stock.company.name, stock.company %></span>
  <span class="num">保有株数 : <%= stock.num %></span>
  <span class="first_price">買値 : <%= stock.first_price %></span>
</li>