<div class="row">

  <!-- ユーザー情報 -->
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
  </aside>

  <!-- 株一覧表示 -->
  <div class="col-md-8">
    <h3>持ち株情報</h3>
    <%= render 'shared/stocks' %>
  </div>
</div>