<% if logged_in? %>
    <div class="row">

      <!-- ユーザー情報 -->
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
      </aside>

      <!-- 株一覧表示 -->
      <div class="col-md-8">
        <h3>持ち株情報</h3>
        <%= render 'shared/stocks' %>
      </div>
    </div>

<% else %>

    <div class="center jumbotron">
      <h1>トレード管理アプリ</h1>

      <h2>サンプル, hogehoge</h2>

      <%= link_to '新規登録', new_user_path, class: 'btn btn-lg btn-primary' %>
    </div>
<% end %>