<li id="company-<%= company.id %>">
  <span class="company"><%= link_to company.name, company %></span>
  <span class="market">市場 : <%= company.market.name %></span>
  <span class="industry">業種 : <%= company.industry.name %></span>
</li>