<h1>企業一覧</h1>

<div class="row">
  <div class="col-md-4">
    <%= render 'shared/form' %>
  </div>

  <!-- 株一覧表示 -->
  <div class="col-md-8">
    <h3>企業リスト</h3>
    <%= render 'shared/companies' %>
  </div>
</div>
